<div class="container" style="text-align: center; padding: 100px 300px">
  <p>******* Now your result ********</p>
  <p>This is your session n°<%= @sessions%></p>
  <p>Your word: <%= @guess%></p>
  <p>Time Taken to answer: <%= @time%> sec.</p>
  <p>Translation: <%= @translation%></p>
  <p>Your score: <%= @score%></p>
  <p><b><%= @message%> !</b></p>
  <p>Your average score: <%= @average%></p>
</div>

